<%= form_for(@stat) do |f| %>
  <% if @stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat.errors.count, "error") %> prohibited this stat from being saved:</h2>

      <ul>
      <% @stat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    
  <% end %>
<div id="center">
	<%= f.select :week, options_for_select(1..20), { prompt: "Game Week" } %><br />
    <%= f.select :weather, Stat::WEATHER_TYPES, { prompt: "Playing Conditions" } %><br>
</div>
<div id="teamA">
    <%= f.select :teamA, Stat::TEAM_NAMES, {prompt: 'Select Team'} %><br />

    <%= f.label :pointsA, "Points" %><br>
    <%= f.text_field :pointsA %><br>
    
    <%= f.label :homeA, "Home Team?" %><br>
    <%= f.check_box :homeA %><br>
    
    <%= f.label :winA, "Win?" %><br>
    <%= f.check_box :winA %><br>
   
    <%= f.label :run_attemptA, "Run Attempts" %><br>
    <%= f.text_field :run_attemptA %><br>
   
    <%= f.label :yards_per_carryA, "Yards Per Carry" %><br>
    <%= f.text_field :yards_per_carryA %><br>
  
    <%= f.label :pass_attemptA, "Pass Attempts" %><br>
    <%= f.text_field :pass_attemptA %><br>
  
    <%= f.label :pass_completionA, "Pass Completions" %><br>
    <%= f.text_field :pass_completionA %><br>
  
    <%= f.label :yards_per_catchA, "Yards Per Catch" %><br>
    <%= f.text_field :yards_per_catchA %><br>
  
    <%= f.label :first_downA, "First Downs" %><br>
    <%= f.text_field :first_downA %><br>
  
    <%= f.label :fourth_down_attemptA, "4th Down Attempt" %><br>
    <%= f.text_field :fourth_down_attemptA %><br>
  
    <%= f.label :fourth_down_madeA, "4th Down Made" %><br>
    <%= f.text_field :fourth_down_madeA %><br> 
  
    <%= f.label :time_of_possesionA, "Time of Possession" %><br>
    <%= f.time_select :time_of_possesionA, {discard_hour: true, include_seconds: true} %><br>
</div>
<div id="teamB">
     <%= f.select :teamB, Stat::TEAM_NAMES, {prompt: 'Select Team'} %><br />

    <%= f.label :pointsB, "Points" %><br>
    <%= f.text_field :pointsB %><br>
    
    <%= f.label :homeB, "Home Team?" %><br>
    <%= f.check_box :homeB %><br>
    
    <%= f.label :winB, "Win?" %><br>
    <%= f.check_box :winB %><br>
   
    <%= f.label :run_attemptB, "Run Attempts" %><br>
    <%= f.text_field :run_attemptB %><br>
   
    <%= f.label :yards_per_carryB, "Yards Per Carry" %><br>
    <%= f.text_field :yards_per_carryB %><br>
  
    <%= f.label :pass_attemptB, "Pass Attempts" %><br>
    <%= f.text_field :pass_attemptB %><br>
  
    <%= f.label :pass_completionB, "Pass Completions" %><br>
    <%= f.text_field :pass_completionB %><br>
  
    <%= f.label :yards_per_catchB, "Yards Per Catch" %><br>
    <%= f.text_field :yards_per_catchB %><br>
  
    <%= f.label :first_downB, "First Downs" %><br>
    <%= f.text_field :first_downB %><br>
  
    <%= f.label :fourth_down_attemptB, "4th Down Attempt" %><br>
    <%= f.text_field :fourth_down_attemptB %><br>
  
    <%= f.label :fourth_down_madeB, "4th Down Made" %><br>
    <%= f.text_field :fourth_down_madeB %><br> 
  
    <%= f.label :time_of_possesionB, "Time of Possession" %><br>
    <%= f.time_select :time_of_possesionB, {discard_hour: true, include_seconds: true} %><br>
</div>
<div id="center">
    <%= f.submit "Create Game" %> | <%= link_to 'Cancel', stats_path %>
</div>  
<% end %>