<div id="weekrollup">
	<h1>Listing Games</h1>    
	<p><%= link_to 'Add Game', new_stat_path %></p>
		<% @shared.each do |s| %>       
			<% @teamA.each do |ta|%>  
				<% @teamB.each do |tb|%>
					<% if ta.winA? %>
						(W) <%= link_to ta.teamA, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= ta.pointsA %>) VS (L) <%= link_to tb.teamB, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= tb.pointsB %>)<br />
					<% else %>
						(L) <%= link_to ta.teamA, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= ta.pointsA %>) VS (W) <%= link_to tb.teamB, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= tb.pointsB %>)<br />
					<% end %>
				<% end %>
			<% end %>
		<% end %>
</div>