<div id="weekrollup">
	<h1>All Games</h1>    
	<p><%= link_to 'Add Game', new_stat_path %> | <%= link_to 'All Games', stats_path %></p>
		<% @stats.each do |s| %>
			<% if s.winA? %>
				(W) <%= link_to s.teamA, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= s.pointsA %>) VS (L) <%= link_to s.teamB, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= s.pointsB %>)<br />
			<% else %>
				(L) <%= link_to s.teamA, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= s.pointsA %>) VS (W) <%= link_to s.teamB, stat_path(:id => s.id), 'data-no-turbolink' => true %> (<%= s.pointsB %>)<br />
			<% end %>
		<% end %>
</div>