<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @stat.team %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @stat.opponent %>
</p>

<p>
  <strong>Week:</strong>
  <%= @stat.week %>
</p>

<p>
  <strong>Win:</strong>
  <%= @stat.win %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @stat.home_team %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @stat.weather %>
</p>

<p>
  <strong>Run attempt:</strong>
  <%= @stat.run_attempt %>
</p>

<p>
  <strong>Yards per carry:</strong>
  <%= @stat.yards_per_carry %>
</p>

<p>
  <strong>Pass attempt:</strong>
  <%= @stat.pass_attempt %>
</p>

<p>
  <strong>Pass completion:</strong>
  <%= @stat.pass_completion %>
</p>

<p>
  <strong>Pass efficiency:</strong>
  <%= @stat.pass_efficiency %>
</p>

<p>
  <strong>Yards per catch:</strong>
  <%= @stat.yards_per_catch %>
</p>

<p>
  <strong>O plays:</strong>
  <%= @stat.o_plays %>
</p>

<p>
  <strong>Total offense:</strong>
  <%= @stat.total_offense %>
</p>

<p>
  <strong>First down:</strong>
  <%= @stat.first_down %>
</p>

<p>
  <strong>Fourth down attempt:</strong>
  <%= @stat.fourth_down_attempt %>
</p>

<p>
  <strong>Fourth down made:</strong>
  <%= @stat.fourth_down_made %>
</p>

<p>
  <strong>Fourth down rating:</strong>
  <%= @stat.fourth_down_rating %>
</p>

<p>
  <strong>Time of possesion:</strong>
  <%= @stat.time_of_possesion %>
</p>

<p>
  <strong>Points:</strong>
  <%= @stat.points %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>

-->